*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  background: #000;
  color: #fff;
  font-family: var(--font-sans);
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

button, a {
  font-family: inherit;
}
